<a href="https://colab.research.google.com/github/nayakoralalage/ISYS5002-Assignment-2/blob/main/Sandbox_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Programming - Assignment 2
# Final Version
19622558  




# Assignment Ideas

The problem solving process can be divided into 5 main parts: 

1. Mention the problem clearly
2. Describe the input and output information 
3. Work the problem by hand 
4. Develop an algorithm (and convert to python)
5. Test solution with a varity of data 

Program, Inputs, Processing, and Outputs

# Inputs

* Needs to input a ticker symbal. But I have no idea about ticker symbol 

Note: I think I will need to use the input() functions to prompt the user 

**TODO: Find out what a ticker symbol is**

### Ticker Symbol 
A ticker symbol or stock symbol is an abbreviation used to uniquely identify publicly traded shares of a particular stock on a particular stock market. see: https://en.wikipedia.org/wiki/Ticker_symbol


# Processing Thoughts 

* Scrape the yahoo websitr
* Extract the "Key Excutives"
* Calculate the income tax

Note: I have learnt to calculate the  tax using ATO table in a previous notebook. Therefore I might be able to use that for this assignment  

**TODO: Find Yahoo Webstie**

This is the webpage: https://au.finance.yahoo.com/ 

To find a company, needs to search in the search bar 

**TODO: Find the key executives**

# Outputs 

* Save to CSV files
* Save to SQL database

**TODO: Work out what I have to save!**

# Explore the website

1. Search for BHP
The ticker symbol is BHP.AX

Note: AX = Australian

Able to find the key executives in the profile page. This is the URL for BHP

https://au.finance.yahoo.com/quote/BHP.AX/profile?p=BHP.AX

2. Search for Woolworths
The thicker symbol is WOW.AX This is the URL for Woolworths

https://au.finance.yahoo.com/quote/WOW.AX/profile?p=WOW.AX

3. Search for National Australia Bank(NAB)
The ticker symbol is NAB.AX This is the URL for NAB

https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX&.tsrc=fin-srch

mm.. I can see something interesting. The ticker appearce twice in the URL.

The manual process is
Search for Ticker
Click on profile




**TODO: Can I shourtcut the process and just use the URL**

Found that I can edit URL and replace the ticker. It is important to replace both first and second ticker symbol in the URL for the security

# Calculate the income tax manually 

This is the key execcutive table of the BHP. Copy and pasted from 

https://au.finance.yahoo.com/quote/BHP.AX/profile?p=BHP.AX

```
Mr. Mike P. Henry B.Sc., BSc (Chem)	CEO & Exec. Director	5.04M	N/A	1966
Mr. David Mark Lamont ACA, BCom, C.A.	Chief Financial Officer	1.72M	N/A	1966
Mr. Peter Beaven BAcc, CA	Exec. Officer	2.4M	N/A	1967
Ms. Geraldine A. Slattery B.Sc., M.Sc.	Pres of Petroleum Operations	2.56M	N/A	1970
Mr. Ragnar Udd M.B.A.	Pres of Minerals Americas	2.09M	N/A	1972
Mr. Edgar Basto-Baez B.Sc.	Pres of Minerals Australia	2.4M	N/A	1968
Ms. Laura Tyler B.Sc., M.Sc.	Chief Technical Officer	N/A	N/A	1967
Mr. Tristan Lovegrove	Group Investor Relations Officer	N/A	N/A	N/A
Ms. Caroline Cox B.A., L.L.B., M.A.	Chief Legal, Governance & External Affairs Officer	N/A	N/A	1970
Mr. James Agar	VP of Communications	N/A	N/A	N/A

```

Now, have to calculate the income tax. Needs to know their pay!

The first column is Name
The second column is Title 
The third column is Pay 

***TODO: How to get the third column! **

First consider one row 

*Note: The lecture asked to select only Name, Title and Pay *


```
Mr. Mike P. Henry B.Sc., BSc (Chem)	CEO & Exec. Director	5.04M	
```
The third column is pay, according to that, it is '5.04M'

Assume that 'M' mwans millions. so '5.04' * 10000000

In [ ]:
5.04 * 10000000

50400000.0

Again another row (looking for differences but there is no difference)

```
Mr. Ragnar Udd M.B.A.	Pres of Minerals Americas	2.09M	
```

In [ ]:
2.09 * 10000000

20900000.0

Looking for more rows to find out different one

```
Mr. James Agar	VP of Communications	N/A	
```

There is something different to think about. What to do with N/A

***TODO: Work out how to process N/A***


Able to identify two different types of rows

It is time to calculate the income tax. First look at the tax notebook. Here is the function from the tax notebook

```
def calculate_tax(income): 
  if income <= 18200:
   tax_payable = 0 
  elif 18200 < income <= 45000:
   tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)

  return tax_payable 
```
The above functioned is used to calculate the income tax
It works since I tested earlier 


income_tax = calculate_tax(pay)

Initial Algorithm

1. User input ticker symbol
2. use ticker to get profile page 
3. copied the table 
4. For each row of the table 
     * Process a row to extract pay
     * Find the last character to determine multiplier 
     * Calculate salary, pay*multiplier
     * Calculate the income tax 

Note:

1. Need to validate the ticker, but for now I will assume user type in a correct ticker 
2. Still needs to work out where to save income tax

In [ ]:
 # User input ticker symbol
 ticker_symbol = input("Please input ticker symbol ")
 print(ticker_symbol)

Please input ticker symbol bhp.ax
bhp.ax

In [ ]:
# use ticker to get profile page
 
example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
example_url.format(ticker_symbol, ticker_symbol)

'https://au.finance.yahoo.com/quote/bhp.ax/profile?p=bhp.ax'

In [ ]:
def develop_url():
  ```
  this function is used to get the url
  ```

  # User input ticker symbol 
  ticker_symbol = input("Please input ticker symbol ")
  # print(ticker_symbol)
  example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p"{}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

In [ ]:
# Get URL 
url = develop_url()
print(url)

Please input ticker symbol bhp.ax
https://au.finance.yahoo.com/quote/bhp.ax/profile?p"bhp.ax

In [ ]:



# Usually run of Google Colab, so install unique packages
!pip install kora -q

#load packages 
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 2.6 MB/s
     |████████████████████████████████| 56 kB 4.1 MB/s

In [ ]:
def develop_url():
  # User input ticker symbol 
  ticker_symbol = input("Please input ticker symbol ")
  # print(ticker_symbol)
  example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p"{}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

In [ ]:
def record_first_2_cells(row):
  ```
  this functioned is used to get cells and return dictionary 
  ```
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name':name, 'title': title, 'pay':pay}

In [ ]:
# Get URL
url = develop_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
records = get_exec_records(soup)

for record in records:
  result = record_pay(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

# create a pandas dataframe 

execs_df = pd.DataFrame.from_records(records)
execs_df

Please input ticker symbol bhp.ax

                                     name  ...       tax
0     Mr. Mike P. Henry B.Sc., BSc (Chem)  ...  166372.0
1   Mr. David Mark Lamont ACA, BCom, C.A.  ...   50872.0
2              Mr. Peter  Beaven BAcc, CA  ...   75372.0
3  Ms. Geraldine A. Slattery B.Sc., M.Sc.  ...   78872.0
4                  Mr. Ragnar  Udd M.B.A.  ...   61372.0
5             Mr. Edgar  Basto-Baez B.Sc.  ...   75372.0
6           Ms. Laura  Tyler B.Sc., M.Sc.  ...       0.0
7                  Mr. Tristan  Lovegrove  ...       0.0
8    Ms. Caroline  Cox B.A., L.L.B., M.A.  ...       0.0
9                         Mr. James  Agar  ...       0.0

[10 rows x 4 columns]

In [ ]:

exec_records = []
for row in rows:
  result = record_first_2_cells(row)
  exec_records.append(result)

print(exec_records)

[{'name': 'Mr. Mike P. Henry B.Sc., BSc (Chem)', 'title': 'CEO & Exec. Director', 'pay': '5.04M'}, {'name': 'Mr. David Mark Lamont ACA, BCom, C.A.', 'title': 'Chief Financial Officer', 'pay': '1.72M'}, {'name': 'Mr. Peter  Beaven BAcc, CA', 'title': 'Exec. Officer', 'pay': '2.4M'}, {'name': 'Ms. Geraldine A. Slattery B.Sc., M.Sc.', 'title': 'Pres of Petroleum Operations', 'pay': '2.56M'}, {'name': 'Mr. Ragnar  Udd M.B.A.', 'title': 'Pres of Minerals Americas', 'pay': '2.09M'}, {'name': 'Mr. Edgar  Basto-Baez B.Sc.', 'title': 'Pres of Minerals Australia', 'pay': '2.4M'}, {'name': 'Ms. Laura  Tyler B.Sc., M.Sc.', 'title': 'Chief Technical Officer', 'pay': 'N/A'}, {'name': 'Mr. Tristan  Lovegrove', 'title': 'Group Investor Relations Officer', 'pay': 'N/A'}, {'name': 'Ms. Caroline  Cox B.A., L.L.B., M.A.', 'title': 'Chief Legal, Governance & External Affairs Officer', 'pay': 'N/A'}, {'name': 'Mr. James  Agar', 'title': 'VP of Communications', 'pay': 'N/A'}]

In [ ]:
def get_exec_records(soup):
  ```

  this functioned is used to find rows and get exact records 
  ```
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  exec_records = []
  for row in rows:
    result = record_first_2_cells(row)
    exec_records.append(result)
  return exec_records

In [ ]:
def record_pay(rec):

  ```
  this function is used to get the salary 
  ```
  pay = rec['pay']
  last_char = pay[-1]
  num_part = pay[0:3]

  if last_char == 'M':
    salary = float(num_part) * 100000
    #print("Millions")
  else:
    salary = 0
    #print("Not Sure")

  return salary

In [ ]:
for r in records:
  result = record_pay(r)
  print(result)

500000.0
170000.0
240000.0
250000.0
200000.0
240000.0
0
0
0
0

In [ ]:

def get_tax(income): 
  ```
  this function is used to calculate the income tax. I got this function from google and did some changes 
  ```
  if income <= 19000:
    taxp = 0
  elif income <= 58000: 
    taxp = (income - 19000) * 0.15 
  elif income <= 75000:
    taxp = (income-58000) * 0.156 + 6398 
  elif income <= 155000:
    taxp = (income - 75000) * 0.25 + 10366 
  else:
    taxp = (income - 185000) * 0.35 + 45622
  
  return taxp

In [ ]:
for r in records:
  result = record_pay(r)
  income_tax = calculate_tax(result)
  print(r)
  print(income_tax)
  r['tax'] = income_tax
  print(r)

In [ ]:
print(records)

[{'name': 'Mr. Mike P. Henry B.Sc., BSc (Chem)', 'title': 'CEO & Exec. Director', 'pay': '5.04M'}, {'name': 'Mr. David Mark Lamont ACA, BCom, C.A.', 'title': 'Chief Financial Officer', 'pay': '1.72M'}, {'name': 'Mr. Peter  Beaven BAcc, CA', 'title': 'Exec. Officer', 'pay': '2.4M'}, {'name': 'Ms. Geraldine A. Slattery B.Sc., M.Sc.', 'title': 'Pres of Petroleum Operations', 'pay': '2.56M'}, {'name': 'Mr. Ragnar  Udd M.B.A.', 'title': 'Pres of Minerals Americas', 'pay': '2.09M'}, {'name': 'Mr. Edgar  Basto-Baez B.Sc.', 'title': 'Pres of Minerals Australia', 'pay': '2.4M'}, {'name': 'Ms. Laura  Tyler B.Sc., M.Sc.', 'title': 'Chief Technical Officer', 'pay': 'N/A'}, {'name': 'Mr. Tristan  Lovegrove', 'title': 'Group Investor Relations Officer', 'pay': 'N/A'}, {'name': 'Ms. Caroline  Cox B.A., L.L.B., M.A.', 'title': 'Chief Legal, Governance & External Affairs Officer', 'pay': 'N/A'}, {'name': 'Mr. James  Agar', 'title': 'VP of Communications', 'pay': 'N/A'}]